/* ================= NAVBAR ================= */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:22px 8%;

    z-index:1000;

    backdrop-filter:blur(12px);

    background:rgba(36,24,17,.45);

    border-bottom:1px solid rgba(255,255,255,.08);
}

.logo{
    font-size:1.8rem;
    font-weight:700;
    color:var(--primary);
}

.nav{
    display:flex;
    align-items:center;
    gap:35px;
}

.nav a{
    color:var(--primary);
    transition:.3s;
}

.nav a:hover{
    color:var(--accent);
}

.resume-btn{
    background:var(--accent);
    color:white;
    padding:12px 26px;
    border-radius:30px;
    transition:.3s;
}

.resume-btn:hover{
    background:var(--hover);
}

/* ================= HAMBURGER ================= */

.hamburger{
    display:none;
    cursor:pointer;
}

.hamburger span{
    display:block;
    width:28px;
    height:3px;
    background:white;
    margin:6px 0;
    border-radius:20px;
}

/* ================= MOBILE ================= */

@media(max-width:900px){

.nav{

    position:absolute;

    top:80px;
    right:-100%;

    width:250px;

    background:#35241C;

    display:flex;
    flex-direction:column;

    padding:30px;

    gap:25px;

    border-radius:15px;

    transition:.4s;
}

.nav.active{

    right:20px;
}

.hamburger{

    display:block;
}

}